* {
  border: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Rubik', sans-serif;
}

header {
  background-color: aquamarine;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.top {
  width: 100%;
}

body {
  background-color: cornsilk;
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.title {
  text-align: center;
  width: 100%;
  text-decoration: underline;
}

.navbar-1 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.navbar-2 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.welcome-title {
  text-align: center;
}

.welcome-description {
  text-align: center;
}

.my-cats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

.cat-names {
  text-align: center;
}

.sprint-1 {
  margin: 0 auto;
  width: 33.33%;
  text-align: center;
}

.sprint-2 {
  margin: 0 auto;
  width: 33.33%;
  text-align: center;
}

.sprint-3 {
  margin: 0 auto;
  width: 33.33%;
  text-align: center;
}

.sprint-4 {
  margin: 0 auto;
  width: 33.33%;
  text-align: center;
}

.sprint-5 {
  margin: 0 auto;
  width: 8.33%;
  text-align: center;
}

.home {
  margin: 0 auto;
  width: 8.33%;
}

.values-q {
  font-weight: bold;
}